In [1]:
#Q1) Write a python Class Circle which has the following variables and functions.

#Variables:
#pi_value = 3.14 (private variable)
#radius 

#functions:
#area_calculator
#circumference_calculator


#Create an object of Class circle and calculate its area and circumference.

In [121]:
#define class
class Circle:
    def __init__(self, radius):
        self.__pi_value = 3.14  # private variable
        self.radius = radius
    
    def area_calculator(self):
        return self.__pi_value * self.radius ** 2
    
    def circumference_calculator(self):
        return 2 * self.__pi_value * self.radius

# Create an object of Class Circle
circle = Circle(5)

# Calculate and print the area and circumference
area = circle.area_calculator()
circumference = circle.circumference_calculator()

print(f"Area: {area}")
print(f"Circumference: {circumference:.2f}")

Area: 78.5
Circumference: $31.40

In [ ]:
#Q2) Write a function which returns the addition of all numbers in numpy array.
# Numpy array should contain 50 random numbers in the range of 10 to 100 generated using random number generator.

In [9]:
import numpy as np              
def add_number():
 # Generate a NumPy array with 50 random numbers in the range of 10 to 100
    number=np.random.randint(10,100, size=50)
    # Calculate the sum of the numbers in the array
    total_sum=np.sum(number)
    return (total_sum)
add_number()

3058

In [ ]:
# Q3) i) Create a 3 * 2 ( 3 rows , 2 columns ) matrix using numpy and transpose it.
#ii) After transposing print the first row of matrix ( index 0)
#iii) Print second element in first row
#iv) Flatten the matrix to 1D ( 1 Dimensional ) array
#v) Print maximum, minimum and average value of 1D array

In [29]:
import numpy as np              
array=np.array([[1,2],[3,4],[5,6]])
#print(array)
print(array.shape)
tarray=np.transpose(array)
#print(tarray)
print(tarray.shape)
tarray[0,1]
farray=tarray.reshape(-1)
print(farray)
print(np.max(farray))
print(np.min(farray))
print(np.average(farray))

(3, 2)
(2, 3)
[1 3 5 2 4 6]
6
1
3.5

In [ ]:
#Q4) 	Read the Housing.csv file in your notebook and perform the following operations.
#i)	Calculate average and median price per square foot area (assume area column’s unit is sq ft )
#ii)	Calculate median price per bedroom. 
#iii)	Calculate average price per sq ft for furnished, semi-furnished and unfurnished homes.
#iv)	Are homes with guestrooms AND main road location costlier than remaining houses? Analyze the data using pandas to come up with your answer.
#v)	 Convert the values in air conditioning columns to 0 and 1 using lambda function
#vi)	Create a new column with the name price_index. Assign it 1 if the price of house is higher than average price else assign it value 0
#vii)	Sort the data by area, bathrooms and bedrooms column in descending order

In [117]:
import pandas as pd
#Read the Housing.csv file in your notebook .
data=pd.read_csv("Housing.csv")
data.head()
#i)	Calculate average and median price per square foot area (assume area column’s unit is sq ft )
#data.shape
#data.index
#data.columns
#data[['price','area']].head()
#data[(data['price']>1000000)& (data ['bedrooms']>2)].head(10) #where with and 
#data[(data['furnishingstatus'] == 'furnished') | (data['mainroad'] == 'yes')].head(10) #where with or
data['dt_per_sqft']=data['price']/data['area']
data_median=data['dt_per_sqft'].median()
print(f"The median of per sqt is :",data_median)
data_mean=data['dt_per_sqft'].mean()
print(f"The Average of per sqt is :",data_mean)


#ii)	Calculate median price per bedroom. 

data_median_per_bedroom=data.groupby(by=['bedrooms'])['price'].median()
print("median price per bedroom :",data_median_per_bedroom)


#iii)	Calculate average price per sq ft for furnished, semi-furnished and unfurnished homes.
dt_furnishingstatus_mean=data.groupby(by=['furnishingstatus'])['price'].mean()
print(dt_furnishingstatus_mean)

#iv)Are homes with guestrooms AND main road location costlier than remaining houses? Analyze the data using pandas to come up with your answer.

# Filter homes with guestrooms and main road location
guestroom_mainroad_homes = data[(data['guestroom'] == 'yes') & (data['mainroad'] == 'yes')]
# Calculate the average price of homes with guestrooms and main road location
average_price_guestroom_mainroad = guestroom_mainroad_homes['price'].mean()
print(f"average price for homes with guest room & on Main road:{average_price_guestroom_mainroad:.2f}")
# Calculate the average price of remaining homes
remaining_homes = data[~((data['guestroom'] == 'yes') & (data['mainroad'] == 'yes'))]
average_price_remaining_homes = remaining_homes['price'].mean()
print(f"average price for homes without  guest room & not on Main road:{average_price_remaining_homes:.2f}")

if average_price_guestroom_mainroad > average_price_remaining_homes:
    print("Homes with guestrooms and main road location are costlier than remaining houses.")
else:
    print("Homes with guestrooms and main road location are not costlier than remaining houses.")


#v)	 Convert the values in air conditioning columns to 0 and 1 using lambda function
data['airconditioning'] = data['airconditioning'].apply(lambda x: 1 if x == 'yes' else 0)
data.head()


#vi)Create a new column with the name price_index. Assign it 1 if the price of house is higher than average price else assign it value 0

# Calculate the average price
average_price = data['price'].mean()
# Create price_index column
data['price_index'] = data['price'].apply(lambda x: 1 if x > average_price else 0)

print(data.head())
#vii)Sort the data by area, bathrooms and bedrooms column in descending order

data.sort_values(by=['area','bathrooms','bedrooms'],ascending=[False,False,False],inplace=True)
data.head()

The median of per sqt is : 952.3809523809524
The Average of per sqt is : 993.3269783651732
median price per bedroom : bedrooms
1    2712500.0
2    3535000.0
3    4620000.0
4    5250000.0
5    5582500.0
6    4791500.0
Name: price, dtype: float64
furnishingstatus
furnished         5.495696e+06
semi-furnished    4.907524e+06
unfurnished       4.013831e+06
Name: price, dtype: float64
average price for homes with guest room & on Main road:5932733.33
average price for homes without  guest room & not on Main road:4536091.08
Homes with guestrooms and main road location are costlier than remaining houses.
      price  area  bedrooms  bathrooms  stories mainroad guestroom basement  \
0  13300000  7420         4          2        3      yes        no       no
1  12250000  8960         4          4        4      yes        no       no
2  12250000  9960         3          2        2      yes        no      yes
3  12215000  7500         4          2        2      yes        no      yes
4  11410000  7420         4          1        2      yes       yes      yes

  hotwaterheating  airconditioning  parking prefarea furnishingstatus  \
0              no                1        2      yes        furnished
1              no                1        3       no        furnished
2              no                0        2      yes   semi-furnished
3              no                1        3      yes        furnished
4              no                1        2       no        furnished

   dt_per_sqft  price_index
0  1792.452830            1
1  1367.187500            1
2  1229.919679            1
3  1628.666667            1
4  1537.735849            1

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus,dt_per_sqft,price_index
7,10150000,16200,5,3,2,yes,no,no,no,0,0,no,unfurnished,626.543210,1
125,5943000,15600,3,1,1,yes,no,no,no,1,2,no,semi-furnished,380.961538,1
10,9800000,13200,3,1,2,yes,no,yes,no,1,2,yes,furnished,742.424242,1
66,6930000,13200,2,1,1,yes,no,yes,yes,0,1,no,furnished,525.000000,1
403,3500000,12944,3,1,1,yes,no,no,no,0,0,no,unfurnished,270.395550,0